*{
    border: 1px solid black;
}
#container{
    display:flex;
    height: 100%;
    width: 100%;
}
.card{
    display: inline-flex;
    width: 400px;
    height: 600px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}
img{
    width: 150px;
    height: 350px;
}